<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style="background-color: cornflowerblue;">
    <form action="" method="post">
        <h1 style="text-align: center;margin-top: 64px;font-family:Arial, Helvetica, sans-serif;">Login</h1>
        {% csrf_token %}
        <div style="margin-left: 540px; margin-top: 52px;">  
        <div class="form-row">
  
        <input type="text" class="form-control is-valid" placeholder="Enter name" name="name" required style="font-size: large; width: 249px;height: 32px;margin-top: 14px;"><br>
        <input type="password" class="form-control" name="password" placeholder="Password" style=" font-size: large;width: 249px;height: 32px;margin-top: 14px;"><br>
        <input type="password" class="form-control" name="cpassword" placeholder="Confirm Password" style="font-size: large; width: 249px;height: 32px;margin-top: 14px;"><br>
        <button type="submit" class="btn btn-primary" style="margin-left: 86px; margin-top: 14px;width: 85px;height: 31px; font-size: large;">Submit</button>
</div>
</form>
<div style="font-family: Arial, Helvetica, sans-serif;color: red;">
{% for msg in messages %}
{{msg}}
{% endfor %}
</div>
</body>
</html>